footer
  section.main-footer.py-50px
    .container
      .row
        .col-12.col-lg-4 
          .main-footer__about
            h5 
              img(src="./assets/images/4-black-squares.svg", alt="")
              | Về chúng tôi
            p.mb-2rem Công ty Cổ phần Công nghệ DKT đã và đang khẳng định được vị trí hàng đầu trong lĩnh vực Thương mại điện tử.
            p.mb-1rem
              span.mr-2
                i.fas.fa-map-marker-alt
              | Tầng 4 #{'\x2D'} Tòa nhà Hanoi Group
              br
              | 442 Đội Cấn Ba Đình #{'\x2D'} Hà Nội
            p.mb-1rem
              span.mr-2
                i.fas.fa-envelope
              | support#{'\x40'}dkt.com.vn
            p
              span.mr-2
                i.fas.fa-mobile-alt
              | (84#{'\x2D'}4) 66558868 #{'\x2D'} (84#{'\x2D'}4) 37868904
        .col-12.col-lg-2
          .main-footer__chinhsach
            +footer_component(chinhsach)
        .col-12.col-lg-2
          .main-footer__dichvu
            +footer_component(dichvuhotro)
        .col-12.col-lg-2 
          .main-footer__tintuc
            +footer_component(tintucsukien)
        .col-12.col-lg-2 
          .main-footer__ketnoi
            +footer_component(ketnoi)
        .col-12.col-lg-6 
          .main-footer__thanhtoan
            p Thanh toán:
            ul
              - var index = 1;
              while index <= 8
                li
                  img(src= `./assets/images/logo/logo_${index++}.png`, alt="")
        .col-12.col-lg-6 
          .main-footer__giaidap
            p Giải đáp nhanh:
            .main-footer__giaidap__content 
              .main-footer__giaidap__item
                span.main-footer__giaidap__item__logo
                  i.fas.fa-phone-alt.fa-lg
                .main-footer__giaidap__item__content
                  p Tư vấn miễn phí (24/7)
                  span 1900 650 650
              .main-footer__giaidap__item
                span.main-footer__giaidap__item__logo
                  i.fas.fa-comments.fa-lg
                .main-footer__giaidap__item__content
                  p Góp ý #{'\x2D'} phản hồi #{'\x2D'} thắc mắc
                  span 1900 650 650

  section.bottom-footer.py-3
    .container.d-flex.flex-column.flex-lg-row.align-items-lg-center 
      .bottom-footer__content.d-flex.flex-column.flex-md-row.text-center.justify-content-md-center.mr-lg-auto
        p.mr-1
          | Bản quyền thuộc về 
          span Design Team
          | .
        p 
          | Phát triển bởi 
          span Bizweb
          | .
      ul.bottom-footer__links.nav.justify-content-between
        +navbar__list(navbar, true)
