header 
  section.top-header
    .container
      .row
        .d-none.d-md-block.col-md-3.mr-md-auto
          - var socials = ['fab fa-facebook-f', 'fab fa-google-plus-g', 'fab fa-instagram', 'fab fa-twitter']
          ul.socials.d-flex
            each social, index in socials
              li(class= `socials__item${!index ? ' active' : ''}`)
                a.d-flex-center(href="#")
                  i(class= social) 
        .col-12.col-sm-4.col-lg-3
          .top-header__btns.h-100
            a.btn.d-flex-center.border.border-top-0.border-bottom-0(href="#") Đăng ký 
            a.btn.d-flex-center.border-right(href="#") Đăng nhập
  
  section.main-header
    .container
      .d-flex.flex-column.flex-md-row.align-items-center
        .main-header__brand.mr-md-auto
          img(src="./assets/images/logo_2.png", alt="")
            
        .main-header__content.d-none.d-lg-block
          span Hotline#{'\x3A'}
          p.mb-0 (04) 9500 9650 #{'\x2D'} (04) 9500 8850
        .main-header__content.d-none.d-lg-block
          span Hotline#{'\x3A'}
          p.mb-0 (04) 9500 9650 #{'\x2D'} (04) 9500 8850
        .main-header__search
          input(id="search" type="text" placeholder="Tìm kiếm...")
          label(for="search") 
            i.fas.fa-search

  nav.navbar-header.navbar.navbar-expand-lg.navbar-dark
    .container(style="position: relative;")
      button.navbar-header__toggle.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        //- span.navbar-toggler-icon
        span.bar 
        span.bar 
        span.bar    
      - 
        var cart = [
          { img: './assets/images/products/1.png', name: 'Máy khoan black decker', gia: '1.250.000' },
          { img: './assets/images/products/2.png', name: 'Máy khoan black decker', gia: '1.250.000' },
          { img: './assets/images/products/3.png', name: 'Máy khoan black decker', gia: '1.250.000' },
        ]
      .dropdown.order-lg-1
        a.cart.dropdown-toggle(href="#" id="dropdownMenu1" data-toggle="dropdown") 
          i.fas.fa-shopping-cart.fa-lg
          span.cart__badge 0
        .dropdown-menu.dropdown-menu-right.border-0.shadow(aria-labelledby='dropdownMenu1')
          each cartItem, index in cart
            div(class= `cart-item${index < cart.length-1 ? ' border-bottom' : ''}`)
              img(src=cartItem.img, alt="")
              .cart-item__content.text-center.mx-2
                p.cart-item__content__title.text-uppercase= cartItem.name
                p 
                  | 1 x  
                  span #{cartItem.gia} Đ
              a(href="#") 
                i.far.fa-times-circle 
          p.cart-total.text-uppercase.text-right
            | Tổng tiền: 
            span 4.560.000 Đ
          .d-flex.justify-content-end.margin-bottom-20px.padding-right-20px
            button.btn.btn-yellow.rounded-0.text-uppercase Thanh toán

      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          +navbar__list(navbar)