mixin navbar__list(list, isFooter = false) 
  each listItem, index in list
    if !index && !isFooter
      li.nav-item.active
        a.nav-link(href='#')
          | #{listItem.name} 
          span.sr-only (current)
    else
      li.nav-item
        a.nav-link(href='#')= listItem.name

mixin footer_component({ title, list }) 
  h5 
    img(src="./assets/images/4-black-squares.svg", alt="")
    | #{title}
  ul.list-unstyled
    each listItem in list
      li
        if listItem.icon
          a(href="#") 
            span.mr-2 
              i(class= listItem.icon)
            | #{listItem.name}
        else
          a(href="#")= listItem.name
          

  //- .san-pham.card.shadow-hover.border-0
  //- div(class= `san-pham card border-0 shadow-hover ${lg ? 'san-pham--lg' : ''}`)
  //-   .san-pham-img-top
  //-     img(src= lg ? './assets/images/products/10.png' : product.img, alt="")
  //-   .card-body
  //-     .san-pham__content.text-center
  //-       span #{product.gia}Đ
  //-       h4= product.name
  //-       .san-pham__content__stars
  //-     button.navbar-toggler(type='button', data-toggle='collapse', data-target=`#navbarSupportedContent${number}`, aria-controls='navbarSupportedContent1', aria-expanded='false', aria-label='Toggle navigation')
  //-       img(src="./assets/images/arrow-down-sign-to-navigate.svg", alt="")
  //-   .custom-list__body.collapse.navbar-collapse.w-100(id= 'navbarSupportedContent' + number)
  //-     ul.navbar-nav.w-100.h-100
  //-       if products
  //-         each product in products
  //-           li.nav-item.active
  //-             a(class=`nav-link h-100 py-0'` href='#')
  //-               +product(product, false, false, true)
  //-       else
  //-         each val in body
  //-           li.nav-item.active
  //-             a(class=`nav-link h-100${isFixedHeight ? ' py-lg-0' : ''}` href='#')
  //-               if val.icon
  //-                 span 
  //-                   i(class= val.icon)
  //-               if val.mamau
  //-                 span.custom-list__body__mau(style= `background-color: ${val.mamau}`)
  //-               | #{val.name} 
//- "./assets/images/4-black-squares.svg"
//- Cấu trúc
//- { header: { name, icon }, body: [ { name, icon, img } ] } 
mixin customList({ header, body, products, images, tags }, number, isFixedHeight = false, isBlog = false)
  div(class= `custom-list navbar navbar-expand-lg p-0${isBlog ? '' : ' shadow'}${products || isBlog ? ' d-none d-lg-block' : ''}`)
    div(class= `custom-list__header w-100${isBlog ? ' pl-lg-0 bg-white' : ''}`)
      h2(class= `${isBlog ? 'text-dark' : ''}`)
        span
          i(class= header.icon)
        | #{header.name}
      button.navbar-toggler(type='button', data-toggle='collapse', data-target=`#navbarSupportedContent${number}`, aria-controls='navbarSupportedContent1', aria-expanded='false', aria-label='Toggle navigation')
        img(src="./assets/images/arrow-down-sign-to-navigate.svg", alt="")
    .custom-list__body.collapse.navbar-collapse.w-100(id= 'navbarSupportedContent' + number)
      if tags
        .d-flex.flex-wrap
          each tag in tags
            a(class=`btn btn-outline-dark font-italic rounded-0 mr-2 mb-2` href='#')= tag.name
      else
        ul(class= `navbar-nav w-100 h-100${images ? ' d-grid-3-2' : ''}`)
          if products
            each product in products
              li.nav-item.active
                //- a(class=`nav-link h-100 py-0` href='#')
                +product(product, false, false, true)
          else if images
            each img in images 
              li.nav-item.active
                a(class=`nav-link h-100 p-0` href='#')
                  img(src= img.img, alt="")  
          else
            each val in body
              li.nav-item.active
                a(class=`nav-link h-100${isFixedHeight ? ' py-lg-0' : ''}${isBlog ? ' pl-lg-0' : ''}` href='#')
                  if val.icon
                    span 
                      i(class= val.icon)
                  if val.mamau
                    span.custom-list__body__mau(style= `background-color: ${val.mamau}`)
                  | #{val.name} 

//- "./assets/images/products/1.png"
//- { img: "", name: "", gia: 0, danhGia: 0, stars: 4.5 }
mixin product(product, lg= false, unhover = false, small =false)
  - let sanphamclass = '';
  if lg
    - sanphamclass += ' san-pham--lg'
  if unhover
    - sanphamclass += ' sanpham--unhover'
  if small
    - sanphamclass += ' sanpham--small'

  div(class= `san-pham card border-0 shadow-hover${sanphamclass}`)
    .san-pham-img-top
      img(src= lg ? './assets/images/products/10.png' : product.img, alt="")
    .card-body
      div(class= `san-pham__content${unhover ? ' text-left' : ' text-center'}`)
        span #{product.gia}Đ
        h4= product.name
        div(class= `san-pham__content__stars${small ? ' d-none' : ''}`)
          ul
            - var i = 1;
              while i <= product.stars
                li 
                  i.fas.fa-star
                - i++

            if !Number.isInteger(product.stars)
              li 
                i.fas.fa-star-half-alt
                - i++

            while i <= 5
              li 
                i.far.fa-star
              - i++
          span (#{product.danhGia} Đánh giá)
        if unhover
          p= product.mota
      div(class= `san-pham__btns${small ? ' d-none' : ''}`)  
        button.btn.btn-yellow.mr-2 Mua ngay
        button.btn.btn-black Xem chi tiết
      //- .san-pham__btns  
      //-   button.btn.btn-yellow.mr-2 Mua ngay
      //-   button.btn.btn-black Xem chi tiết

mixin slide-custom-header({ title, haveBody })
  h2.mr-auto 
    span 
      i.fas.fa-th-large
    | #{title}
  - let arr = ['Máy khoan', 'Máy in 3D', 'Máy CNC', 'Máy tiện', 'Máy khác']
  if haveBody
    .san-pham-slide-custom__header__btns--first.d-none.d-lg-block
      each item, index in arr
        button(class= `btn btn-outline-secondary btn-yellow-hover-1 rounded-0${index !== arr.length-1 ? ' mr-2' : ''}`)= item

mixin custom-carousel-1(arr, carouselNumber, items, columnClass, lgClass = false, newClass = false) 
  - let total = arr.length 
  - let page = Math.ceil(total/items)
  - let multiArr = []

  - let i = 0;
  - let string = "";
  -
    switch(items) {
      case 2:
        string = ' d-none d-md-block d-lg-none';
        break;
      case 3:
        string =  lgClass ? ' d-none d-lg-block d-xl-none' : newClass ? ' d-none d-lg-block d-xl-none' : ' d-none d-lg-block';
        break;
      case 4:
        string = newClass ? ' d-none d-xl-block' : ' d-none d-lg-block d-xl-none';
        break;
      case 5:
        string = ' d-none d-xl-block';
      case 6:
        string = ' d-none d-xl-block';
        break;
      default:
        string = ' d-md-none';
    }
  div(id= `carouselExampleControls${carouselNumber}` class= `carousel slide${string}` data-ride='carousel')  
    .carousel-inner
      while i<page
        - let childArr = arr.slice(i*items, i*items + items)
        div(class = `carousel-item${i === 0 ? ' active' : ''} p-10px`)
          .row 
            if items === 5
              - let dem = 0;
              while childArr.length > 0
                - let currentChild;
                - let index = 1;
                if dem !== 1
                  - index = 2;
                  .col-3 
                    - currentChild = childArr.slice(0, index)
                    - childArr.splice(0, index);
                    each product in currentChild
                        .h-381px
                          +product(product)
                else
                  .col-6
                    - currentChild = childArr.slice(0, index)
                    - childArr.splice(0, index);
                    each product in currentChild
                      +product(product, true)
                - dem++;
            else
              each product, index in childArr
                div(class= (lgClass && index === 1) && items === 5 ? lgClass : columnClass)
                  +product(product)
        - i++

mixin custom-carousel-2(arr, carouselNumber, items, string) 
  - let total = arr.length 
  - let page = Math.ceil(total/items)
  - let multiArr = []
  - let i = 0

  div(id= `carouselExampleControls${carouselNumber}` class= `carousel slide${string}` data-ride='carousel')  
    .carousel-inner(role="listbox")
      while i<page
        - let childArr = arr.slice(i*items, i*items + items)
        div(class = `carousel-item${i === 0 ? ' active' : ''} ${childArr.length}`)
            .img-wrapper
              each item in childArr
                img(src= item.img, alt="")
        -i++
    a.carousel-control-prev(href=`#carouselExampleControls${carouselNumber}`, role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href=`#carouselExampleControls${carouselNumber}`, role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next

mixin breadcrumb(arr) 
  nav(aria-label='breadcrumb')
    .container
      ol.breadcrumb.bg-white.pl-0.py-30px.mb-0
        each item,index in arr
          if index !== arr.length-1
            li.breadcrumb-item
              a(href=item.link)= item.name
          else
            li.breadcrumb-item.active(aria-current='page')= item.name

mixin random-text(text, className= '') 
  p(class= `${className!=='' ? className : ''}`)
    | #{text.p1}
    br
    | #{text.p2}
    br
    | #{text.p3}
    br
    | #{text.p3}
    
mixin article(article)
  .article.border-bottom
    img.article__img.w-100.margin-bottom-20px(src= article.img, alt="")
    h4= article.title
    p.article__thongtin.font-italic
      span.mr-3= article.date 
      span.mr-3
        i.fas.fa-user.mr-1
        | Đăng bởi 
        a(href="#")= article.dangboi
      span 
        i.fas.fa-comments.mr-1
        | #{article.binhluan} Bình luận
    p.article__doc.mb-0 
      | #{article.doc}
      span 
        a(href="/blog-detail.html") [Đọc tiếp] 

mixin comment(comment, index) 
  div(class= `comment${index%2 !== 0 ? ' padding-left-120px' : ''}`)
    .comment__img.border
      img(src= comment.img, alt="")
    .comment__content
      p.comment__content__name.mb-2= comment.name
      p.comment__content__date.mb-2
        span.mr-auto= comment.date 
        a(href="#") Trả lời 
      p.comment__content__text.mb-0= comment.text
