mixin navbar__list(list, isFooter = false) 
  each listItem, index in list
    if !index && !isFooter
      li.nav-item.active
        a.nav-link(href='#')
          | #{listItem.name} 
          span.sr-only (current)
    else
      li.nav-item
        a.nav-link(href='#')= listItem.name

mixin footer_component({ title, list }) 
  h5 
    img(src="./assets/images/4-black-squares.svg", alt="")
    | #{title}
  ul.list-unstyled
    each listItem in list
      li
        if listItem.icon
          a(href="#") 
            span.mr-2 
              i(class= listItem.icon)
            | #{listItem.name}
        else
          a(href="#")= listItem.name
          
//- "./assets/images/4-black-squares.svg"
//- Cấu trúc
//- { header: { name, icon }, body: [ { name, icon. img } ] } 
mixin customList({ header, body }, number)
  .custom-list.navbar.navbar-expand-lg.p-0.shadow
    .custom-list__header.w-100
      h2 
        span
          i(class= header.icon)
        | #{header.name}
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent1', aria-controls='navbarSupportedContent1', aria-expanded='false', aria-label='Toggle navigation')
        img(src="./assets/images/arrow-down-sign-to-navigate.svg", alt="")
    .custom-list__body.collapse.navbar-collapse.w-100(id= 'navbarSupportedContent' + number)
      ul.navbar-nav.w-100
        each val in body
          li.nav-item.active
            a.nav-link(href='#')
              span 
                if val.icon
                  i(class= val.icon)
                if val.img
                  img(src= val.img, alt="")
              | #{val.name} 
