extends ../base/base.pug

block content
  +breadcrumb([{ link: '#', name: 'Trang chủ' }, { link: '#', name: 'Đăng ký' }])
  section.register__content
    .container
      .row
        .col-12.col-md-6 
          form.custom__form.mb-5
            h5.custom__form__title Thông tin đăng nhập#{'\x3A'}
            .form-group
              label(for='name') 
                | Họ và tên#{'\x3A'}
                span= '\x2A'
              input#name.form-control.rounded-0(type='text')
            .form-group
              label(for='name') 
                | Email#{'\x3A'}
                span= '\x2A'
              input#name.form-control.rounded-0(type='email')
            .d-flex.justify-content-between
              .form-check.mb-3
                input#exampleCheck1.form-check-input(type='checkbox')
                label.form-check-label(for='exampleCheck1') Ghi nhớ đăng nhập
              a.custom__form__link(href="#") Bạn quên mật khẩu#{'\x3F'}
            button.btn.btn-dark.rounded-0.text-uppercase Đăng nhập
        .col-12.col-md-6 
          .custom__form__content
            h5.custom__form__title Bạn chưa có tài khoản#{'\x3F'}
            p.custom__form__text
              | Đăng ký tài khoản để mua hàng nhanh hơn#{'\x2E'} Theo dõi đơn đặt hàng#{'\x2C'} vận chuyển#{'\x2E'}
              br
              | Cập nhật các tin tức sự kiện và các chương trình giảm giá của chúng tối#{'\x2E'}
            button.btn.btn-yellow.rounded-0.text-uppercase Đăng ký
